<p>Hola: {{ contacto }}</p>
<p>responsable de : {{ empresaName }},</p>

<p>Recibimos tu solicitud con los siguientes residuos a recoger:</p>

<p>
  {{!-- Recorrer todos los materiales --}}
</p>

<p>Un asesor de nuestra empresa se comunicará contigo.</p>