version: "3.9"

services:
  api:
    build: .
    container_name: legalo_api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    container_name: legalo_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: legalo_db
      MYSQL_USER: legalo
      MYSQL_PASSWORD: legalo123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
