<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Bienvenido a Legalo</title>
  </head>

  <body class="bg-gray-100 py-20 font-sans text-gray-800">
    <div class="flex flex-col max-w-md mx-auto bg-white p-8 border border-gray-300 rounded-lg shadow-md">
      <img src="../img/logoCompleto.png" alt="logo AMPCO" class="self-center m-5 w-3/4">
      <h2 class="text-2xl mb-6 text-center font-bold">
        ¡Gracias por registrarte en Legalo!
      </h2>

      <p>Hola {{ nombres }},</p>
      <p>Gracias por registrarte en Legalo. Para completar tu registro, por favor valida tu cuenta haciendo clic en el siguiente enlace:</p>

      <p class="text-blue-600">
        <a href="http://localhost:3001/activar-cuenta?codigo={{ codigoDeActivacion }}" target="_blank">Validar mi cuenta</a>
      </p>

      <p>Este enlace expirará en {{ tiempoExpiracion }} horas, así que por favor asegúrate de validarlo dentro del plazo.</p>

      <p class="mt-6 text-center text-gray-500 text-sm">
        © 2024 Legalo Web. Todos los derechos reservados.
      </p>
    </div>
  </body>
</html>
